@import 'src/styles/variables.scss';

$cellAnimationSpeed: 100ms;

.board {
	background-color: hsl(28, 16%, 68%);
	position: relative;
}

.back {
	position: absolute;
	z-index: 1;
}
.front {
	position: absolute;
	z-index: 2;
}

.backCell {
	background-color: hsl(37, 18%, 74%);
	position: absolute;
}

.frontCell {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: all $cellAnimationSpeed ease;
	transition-property: left, top;

	.inner {
		display: flex;
		justify-content: center;
		align-items: center;

		&.isNewCell {
			animation: newCell $cellAnimationSpeed;
		}

		&.isMergedCell {
			animation: mergedCell $cellAnimationSpeed;
			z-index: 999;
		}
	}
}

@keyframes newCell {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

@keyframes mergedCell {
	from {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	to {
		transform: scale(1);
	}
}
