.gameControl {
	display: flex;
}

.scoreTitle {
	margin-right: 5px;
	font-size: 0.8em;
	display: inline-block;
	font-weight: bold;
	color: hsl(37, 18%, 34%)
}

.scoreValue {
	color: #fff;
	font-size: 1.3em;
	display: inline-block;
}

.scorePanel {
	text-align: center;
	display: flex;
	background-color: hsl(28, 16%, 68%);
	flex: 1;
	justify-content: center;
	align-items: center;
}

.controlButton {
	background-color: hsl(28, 16%, 68%);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
	cursor: pointer;
	&:hover{
		background-color: hsl(28, 16%, 58%);
	}
}

.controlButtons {
	display: flex;
}

.buttonIcon {
	color: #fff;
}
