.logo {
	position: relative;
}

.inner{
	position: absolute;
	font-size: 2em;
	padding-bottom: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	opacity: 0.5;
	text-align: center;
	top: -60px;
	left: 25%;
}
